/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(223, 195, 195) ;
    // overflow: hidden;
    // margin:10% 2%;
}
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.my-container {
    padding-top: 30px;
    // padding-bottom:10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height:auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;  
}

.roundedbutton {
    border-radius: 20%;
}

.redbutton {
    background-color: rgb(223, 83, 83);
}

.example-spacer {
    flex: 1 1 auto;
  }

.active {
    font-weight: bold;
    font-size: large;  
}

.header-button {
    color: white;
}

.scrollable-table{
    overflow-y:auto; 
    height:70%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    bottom: 0;
    position: absolute;
    background-color: rgb(223, 83, 83);
    height:10%;
    font-size: large;
    color: white;
}